* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f5;
}
header {
    background: #7B61FF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
header h2 {
    font-size: 22px;
}


  .container {
    display: flex;
    min-height: 100vh;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    background-color: #a970ff;
    height: 100vh;
    transition: width 0.3s ease;
    overflow: hidden;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    z-index: 999;
  }
  .sidebar:hover {
    width: 240px;
  }
  .logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    margin: 20px auto;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3135/3135715.png');
    background-size: cover;
    background-position: center;
  }
  .content {
    flex: 1;
    padding: 30px;
}
.menu {
    
    margin-top: 0px;
    margin-left: 0px;
    gap: 20px;
    padding: 0 0px;
    color: white;
    width: 250px;
    background: #7B61FF;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
  }
  .menu-item:hover {
    background: rgba(255,255,255,0.2);
  }
  button{
    background-color: #7B61FF;
    border: 0px solid #4f3798;
    width: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}