@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.container {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.login-section {
    width: 50%;
    background: #121212;
    padding: 40px;
    color: white;
}

.login-section h2 {
    font-size: 24px;
    font-weight: 600;
}

.login-section p {
    font-size: 14px;
    color: #bbbbbb;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #bbbbbb;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background: #222;
    color: white;
}

.forgot-password {
    text-align: right;
    margin-top: 10px;
}

.forgot-password a {
    color: #a970ff;
    text-decoration: none;
    font-size: 12px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #a970ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.signup-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #bbbbbb;
}

.signup-text a {
    color: #a970ff;
    text-decoration: none;
}

.illustration-section {
    width: 50%;
    background: #a970ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 40px;
}

.illustration-section h1 {
    font-size: 24px;
    font-weight: 600;
}

.illustration-section span {
    font-weight: 700;
}

.illustration-section img {
    width: 80%;
    margin-top: 20px;
}
