body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .signup-card {
    background: #f5f4f4;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 450px;
  }

  h2 {
    text-align: center;
    color: #4b3ca7;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
  }

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }

  button {
    width: 100%;
    background-color: #7B61FF;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
  }

  button:hover {
    background-color: #684cda;
  }

  .message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
  }

  .error {
    color: red;
  }

  .success {
    color: green;
  }